Django>=4.2,<4.3
psycopg2>=2.9
celery==5.2.7
invoke>=2.0
gunicorn
Pillow
django-compressor
whitenoise
django-axes
django-recurrence
django-extensions
django-model-utils
django-bootstrap4
markdown
python-dateutil
six
djangorestframework
requests
